{% extends 'base.html.twig' %}

{% block title %}La familles : {{famille.libelle}}{% endblock %}

{% block monTitre %}La familles : {{famille.libelle}} {% endblock %}

{% block body %}

       <h2  class="border-bottom border-primary"> {{famille.libelle|capitalize}}</h2>
       <div style="margin-bottom:20px;">{{famille.description}}</div>

        <div class="row" style="width:100%;margin-bottom:50px;overflow:hidden;">
            {% for animal in famille.animaux %}
                <div class="col-6" style="padding:0;">
                    <div class=" align-items-center">
                        <div class="col-12 col-6 col-12 text-center " style="min-height:160px;padding:0;">
                            <img class="img-fluid"  src="{{asset('images/' ~ animal.image)}}" 
                                alt='{{animal.image}}'/>
                        </div>
                        <div class="col-auto text-center" style="padding:0;">
                            <h2> <a href="{{path('afficher_animal',{'id':animal.id})}}"> {{animal.nom}}</a></h2>
                            <div>{{animal.description}}</div>
                            <div><a href="" class="btn btn-primary">{{animal.famille.libelle}}</a></div>
                        </div>
                    </div>
                </div>
            {% endfor %}
         </div>


{% endblock %}
